[submodule "tub"]
	path = tub
	url = git@github.com:tagion/tub.git
[submodule "src/wrap-openssl"]
	path = src/wrap-openssl
	url = git@github.com:tagion/core-wrap-openssl
[submodule "src/wrap-p2pgowrapper"]
	path = src/wrap-p2pgowrapper
	url = git@github.com:tagion/core-wrap-p2pgowrapper
[submodule "src/wrap-secp256k1"]
	path = src/wrap-secp256k1
	url = git@github.com:tagion/core-wrap-secp256k1